:root {
	/* Color */
	--white-color: #fff;
	--blue-light-color: #03b6fc;
	--grey-dark-color: #909090;
	--grey-light-color: #e0e0e0;
	--black-color: #140a00;

	/* Font Size */
	--font-ultra: 25px;
	--font-large: 18px;
	--font-medium: 16px;
	--font-small: 14px;
	--font-micro: 12px;

	/* Size */
	--padding: 12px;
	--image-size: 50px;
	--icon-size: 20px;
	--link-size: 35px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--black-color);
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: flex-end;
}

.navbar__menu {
	display: flex;
	flex-direction: row;
}

.navbar li {
	padding: var(--padding);
	font-size: var(--font-small);
}

.navbar a:hover {
	color: var(--grey-dark-color);
	text-decoration: underline;
}

.navbar li:nth-child(3):hover {
	background-color: var(--grey-light-color);
	border-radius: 50%;
	cursor: pointer;
}

.navbar li .name {
	background-color: var(--blue-light-color);
	color: var(--white-color);
	padding: var(--padding) calc(var(--padding) / 2);
	border-radius: 50%;
}

/* Logo And Search */
.logo {
	display: flex;
	justify-content: center;
	margin-top: calc(var(--padding) * 4);
}

.logo img {
	width: 320px;
	height: 180px;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search__icon {
	font-size: var(--font-large);
	color: var(--grey-dark-color);
	margin-right: var(--padding);
}

.search input {
	margin-right: var(--padding);
	border-radius: 50px;
	padding-left: var(--padding);
	font-size: var(--font-medium);
	width: 360px;
	height: 50px;
	outline: none;
	border: 2px solid var(--grey-light-color);
}

/* Icons */
.icons {
	display: flex;
	justify-content: center;
	margin: calc(var(--padding) * 3) calc(var(--padding) * 2);
}

.icons__link {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: var(--link-size);
	width: 600px;
}

.icons__link a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fa-facebook,
.fa-twitter-square,
.fa-github,
.fa-google,
.fa-instagram-square,
.fa-windows,
.fa-youtube,
.fa-tiktok {
	margin: calc(var(--padding) * 2) calc(var(--padding) * 3);
	background-color: var(--grey-light-color);
	padding: var(--padding) var(--padding);
	border-radius: 50%;
}

.fa-facebook {
	color: #0398fc;
}

.fa-twitter-square {
	color: #03bafc;
}

.fa-google {
	color: #fcca03;
}

.fa-instagram-square {
	color: #e303fc;
}

.fa-windows {
	color: #03a9fc;
}

.fa-youtube {
	color: #fc0303;
}

.icons__title {
	font-size: var(--font-small);
	margin-bottom: calc(var(--padding) * 3);
}
