:root {
	/* Color */
	--white-color: #fff;
	--blue-light-color: #03b6fc;
	--grey-dark-color: #909090;
	--grey-light-color: #e0e0e0;
	--black-color: #140a00;

	/* Font Size */
	--font-ultra: 25px;
	--font-large: 18px;
	--font-medium: 16px;
	--font-small: 14px;
	--font-micro: 12px;

	/* Size */
	--padding: 12px;
	--image-size: 50px;
	--icon-size: 20px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--black-color);
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: flex-end;
}

.navbar__menu {
	display: flex;
	flex-direction: row;
}

.navbar li {
	padding: var(--padding);
	font-size: var(--font-small);
}

.navbar a:hover {
	color: var(--grey-dark-color);
	text-decoration: underline;
}

.navbar li:nth-child(3):hover {
	background-color: var(--grey-light-color);
	border-radius: 50%;
	cursor: pointer;
}

.navbar li .name {
	background-color: var(--blue-light-color);
	color: var(--white-color);
	padding: var(--padding) calc(var(--padding) / 2);
	border-radius: 50%;
}

/* Logo And Search */
.logo {
	display: flex;
	justify-content: center;
	margin: var(--padding);
}

.logo img {
	width: 320px;
	height: 180px;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search__icon {
	font-size: var(--font-large);
	color: var(--grey-dark-color);
	margin-right: var(--padding);
}

.search input {
	margin-right: var(--padding);
	border-radius: 50px;
	padding-left: var(--padding);
	width: 360px;
	height: 40px;
	outline: none;
	border: 2px solid var(--grey-light-color);
}
